.ProjectCard {
    position: relative;
    width: 550px;
    margin: 0 0 30px;
    transition: transform 0.5s ease;
}

.ProjectCard:hover {
    transform: scale(1.1);
}

.ProjectCard>.ProjectLink>.ProjectInfoContainer {
    position: absolute;
    margin-left: 15px;
    margin-top: 10px;
    color: gray;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

.ProjectCard>.ProjectLink>.ProjectImageContainer>.ProjectImage {
    width: 530px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 6px;
}

@media (max-width: 575px) {

    .ProjectCard {
        width: 90%;
    }

    .ProjectCard>.ProjectLink>.ProjectImageContainer>.ProjectImage {
        width: 80%;
    }

    .ProjectCard>.ProjectLink>.ProjectInfoContainer {
        font-size: 15px;
        margin-left: 50px;
        margin-top: 12px;
    }
}

@media (min-width: 575px) and (max-width: 767px) {

    .ProjectCard {
        width: 90%;
    }

    .ProjectCard>.ProjectLink>.ProjectImageContainer>.ProjectImage {
        width: 80%;
    }

    .ProjectCard>.ProjectLink>.ProjectInfoContainer {
        font-size: 15px;
        margin-left: 70px;
        margin-top: 12px;
    }
    
}