.ProjectCard {
    position: relative;
    width: 550px;
    margin: 0 0 30px;
    transition: transform 0.5s ease;
}

.ProjectCard:hover {
    transform:scale(1.1);
}

.ProjectCard>.ProjectLink>.ProjectInfoContainer {
    position: absolute;
    margin-left: 15px;
    margin-top: 10px;
    color: gray;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

.ProjectCard>.ProjectLink>.ProjectImageContainer>.ProjectImage {
    width: 550px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 6px;
}