@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.Header {
    white-space: nowrap;
    text-align: left;
    padding-left: 350px;
    padding-top: 30px;
}

.Header>.RandomContent>h1 {
    color: white;
    font-style: oblique;
    animation: fadeIn 1s ease-in-out;
}

.Header>.InitialContent>h1 {
    color: white;
    font-style: oblique;
}