.Contact>.SocialLinks {
    margin-right: auto;
}

.Contact>.SocialLinks>a {
    margin: 0 20px;
    text-decoration: none;
    font-size: large;
    transition: all 0.4s ease;
}

.Contact>.SocialLinks>a:hover {
    color: lightblue;
}

@media (max-width: 767px) {

    .Contact>.SocialLinks>a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        max-width: 350px;
    }
}