.Resume {
    display: flex;
    flex-direction: column;
    margin: 0 -32px;
}

.Resume .ResumeButton {
    transform: rotate(-90deg);
    background-color: white;
    font-weight: bold;
    border: none;
}

.DownloadIcon {
    transform: rotate(90deg);
}