.ProjectList>h2 {
    color: white;
    font-style: oblique;
    margin-top: 660px;
    text-align: left;
}

@media (max-width: 575px) {
    .ProjectList>h2 {
        text-align: center;
    }
}

@media (min-width: 575px) and (max-width: 767px) {

    .ProjectList>h2 {
        text-align: center;
        margin-right: 50px;
    }
}

@media (min-width: 675px) and (max-width: 767px) {
    .ProjectList {
        margin-left: 50px;
    }
}

@media (min-width: 767px) and (max-width: 1300px) {
    .ProjectList {
        margin-left: 15%;
    }
}