.ProjectList>h2 {
    text-align: left;
    color: white;
    font-style: oblique;
    margin-top: 660px;
}

@media (max-width: 767px) {

    .ProjectList {
        display: grid;
        justify-content: center;
    }

    .ProjectList>h2 {
        margin-left: 200px;
        max-width: 150px;
    }

    .ProjectList {
        margin-left: -110px;
    }
}

@media (min-width: 767px) and (max-width: 1300px) {
    
    .ProjectList {
        display: grid;
        justify-content: center;
    }
}