.About {
    display: flex;
    flex-direction: column;
    margin: 60px 0 60px 0;
    width: 320px;
    height: 200px;
}

.About>h2 {
    margin-bottom: 30px;
    text-align: left;
    color: white;
    font-style: oblique;
}

@media (max-width: 767px) {

    .About>img {
        max-width: 65%;
        margin-left: -50px;
    }

    .About>h2 {
        margin-left: 80px;
        margin-top: 50px;
        max-width: 150px;
    }
}