.Menu {
    font-size: large;
    font-weight: bold;
}

.Menu>.ScrollToTopContainer {
    width: 60px;
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 60, 50, 0.5);
    position: fixed;
    bottom: 5%;
    right: 5%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.Menu>.ScrollToTopContainer.visible {
    opacity: 1;
}

@media (max-width: 767px) {

    .Menu>* {
        max-width: 200px;
    }

    .Menu>.ScrollToTopContainer {
        margin-right: 40px;
    }
}