.Menu {
    font-size: large;
    font-weight: bold;
}

.Menu>.ScrollToTopContainer {
    width: 60px;
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 60, 50, 0.5);
    position: fixed;
    bottom: 5%;
    right: 5%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.Menu>.ScrollToTopContainer.visible {
    opacity: 1;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: blue;
}

.Menu>.navbar>.container-fluid>.collapse>.navbar-nav>.nav-item>.active {
    background-color: blue;
    border-radius: 10px;
}

.navbar-toggler {
    background-color: rgba(0, 0, 255, 0.75);
}

.collapse {
    color:  red;
}

@media (max-width: 767px) {

    .Contact>.SocialLinks>a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        max-width: 350px;
    }
}