html,
body,
#root {
    height: 100vh;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}