html,
body,
#root {
    height: 100vh;
    text-align: center;
    background-color: #221e22;
    background-image: url(/src/Assets/Images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    
}